<%- include('partials/header', {title: post.title + ' - April Wayne Blog',
currentPage: 'blog'}) %>

<main class="main-content">
  <div class="content-container">
    <div class="single-post">
      <article class="blog-post">
        <div class="post-header">
          <h1 class="post-title"><%= post.title %></h1>
          <div class="post-meta">
            <span class="post-date"
              ><i class="far fa-calendar"></i> <%= post.date %></span
            >
            <span class="post-author"
              ><i class="far fa-user"></i> <%= post.author %></span
            >
          </div>
          <div class="post-tags">
            <% post.tags.forEach(function(tag) { %>
            <span class="tag"><i class="fas fa-tag"></i> <%= tag %></span>
            <% }); %>
          </div>
        </div>

        <div class="post-content"><%- post.htmlContent %></div>

        <div class="post-comments">
          <h3><i class="far fa-comments"></i> Comments</h3>
          <% if (post.comments.length > 0) { %>
          <div class="comments-list">
            <% post.comments.forEach(function(comment) { %>
            <div class="comment">
              <div class="comment-header">
                <span class="comment-author">
                  <i class="far fa-user-circle"></i> <%= comment.user %>
                </span>
              </div>
              <div class="comment-content"><%= comment.comment %></div>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <p class="no-comments">No comments yet</p>
          <% } %>

          <form class="comment-form">
            <textarea placeholder="Add a comment..." required></textarea>
            <button type="submit" class="comment-btn">Post Comment</button>
          </form>
        </div>
      </article>

      <div class="post-navigation">
        <a href="/blog" class="back-to-blog">
          <i class="fas fa-arrow-left"></i> Back to Blog
        </a>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
